.info {
    padding: 94px 0 94px 164px;
    background: #F4F5F7;

    &-title {
        color: #2D314D;
        margin-bottom: 16px;
        font-size: 40px;
        font-style: normal;
        font-weight: 100;
        line-height: 64px;
        letter-spacing: -0.714px;
    }

    &-text {
        width: 635px;
        color: #9597A5;
        margin-bottom: 72px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.281px;
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 0 30px;
    }
}

.info-img {
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
}

.info-item-title {
    margin-bottom: 26px;
    color: #2D314D;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.429px;
}

.info-item-text {
    color: #9597A5;
    width: 255px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.25px;
}